Source: device3dfx
Section: graphics
Priority: extra
Maintainer: Guillem Jover <guillem@debian.org>
Build-Depends-Indep: debhelper (>= 5)
Standards-Version: 3.6.2

Package: device3dfx-source
Architecture: all
Depends: make, debhelper
Recommends: kernel-package
XB-Tag: hardware::video, role::source, use::driver
Description: device driver source for 3Dfx boards for 2.2+ kernels
 This package is the source for the 3Dfx device driver to allow access
 to 3Dfx boards and setting its MTRR:s correctly without the user having
 root privileges.
 .
 It should work on 2.2/2.3/2.4/2.5/2.6 kernels, including SMP enabled kernels.

