#!/usr/bin/make -f
# debian/rules for device3dfx to build device3dfx-source
#
# Copyright © 1999 Steve Haslam
# Copyright © 2003, 2004, 2006, 2007 Guillem Jover
#
# Distributable under the terms of the GNU GPL version 2 (or later).

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

package = device3dfx
psource = $(package)-source

include /usr/share/quilt/quilt.make

build: patch

clean: unpatch
	dh_testdir
	dh_testroot
	dh_clean

target = debian/$(psource)/usr/src/modules/$(package)

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	
	install -c -m 644 Makefile *.c $(target)
	cp -R kbuild $(target)
	cp -R debian/module $(target)/debian
	cp $(target)/debian/control.in $(target)/debian/control
	cp debian/copyright debian/changelog $(target)/debian
	chown -R root.root $(target)
	chmod +x $(target)/debian/rules $(target)/debian/build_config
	tar -C debian/$(psource)/usr/src -cvzf debian/$(psource)/usr/src/$(package).tar.gz modules/$(package)
	rm -r debian/$(psource)/usr/src/modules

testmodule: build install
	tar -C .. -xvzf debian/$(psource)/usr/src/$(package).tar.gz

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installexamples
	dh_installchangelogs
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: build install
	# Nothing to do.

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install

